nav {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.avatar {
    width: 200px;
}

.star-container {
    max-width: 200px;
    margin: 0 auto;
}

.line-star {
    height: 5px;
    border-radius: 3px;
    flex-grow: 1;
}

.top-footer {
    background-color: #3A546D;
}

.bottom-footer {
    background-color: #2C3E50;
}