nav {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.avatar {
    width: 200px;
}

.star-container {
    max-width: 300px;
    margin: 0 auto;
}

.star-container-small {
    max-width: 200px;
    margin: 0 auto;
}

.line-star {
    height: 5px;
    border-radius: 3px;
    flex-grow: 1;
}

.my_form_control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.top-footer {
    background-color: #3A546D;
}

.icon-button i {
    width: 16px;
}

.bottom-footer {
    background-color: #2C3E50;
}